/* 
    Document   : main
    Created on : 23 mai 2013, 15:00:09
    Author     : Travail
    Description:
        Purpose of the stylesheet follows.
*/
.panel{
    background-color: #E2A76F;
}
table#grille{
    
    background: none repeat scroll 0 0 black;
    border: 1px solid #DDDDDD;
    margin-bottom: 1.25em;

}
#grille td{ 
    width:50px;
    height:50px;
    background-color: #9A6C4B;
    /*background-image: "url(../img/backgrd.jpg)";*/
}
#plateau{
    border:none;
    position:absolute;
    float:left;

    background: none;
    left: 13px;

    top: -3px;


}
#plateau td{ 
    width:50px;
    height:50px;
    background: none;



}
#plateau tr{ 

    background: none;



}
#plateau thead{ 

    background: none;



}

