/* 
    Document   : main
    Created on : 23 mai 2013, 15:00:09
    Author     : Travail
    Description:
        Purpose of the stylesheet follows.
*/

#grille td{ 
    width:50px;
    height:50px;
    background-color: red;
}
#plateau{
    border:none;
    position:absolute;
    float:left;
    top:44px;
    left:60px;
    background: none;
    
}
#plateau td{ 
    width:50px;
    height:50px;
    background: none;
    


}
#plateau tr{ 
   
    background: none;
    


}
#plateau thead{ 
   
    background: none;
    


}

